<h1><%= @workout.name %> - <%= @workout.date_of_workout.strftime("%m/%d/%Y") %></h1><br>
<% @workout.exercises.each do |e| %>
<%= e.name %> <%= e.quantity %><%= e.quantity_type %> <%=e.difficulty_level %> <br><br>
<% end %>
<%= @workout.category.name %> 

<%= link_to "Edit Workout", edit_workout_path(@workout) %>


<%= form_tag('/workouts', method: :get) do %>
    
    <h3>Enter a color</h3>
    <%= text_field_tag 'color' %>
    <%= submit_tag %>
<% end %>
    

