<!DOCTYPE html>
<html>
  <head>
    <title>Johnsfitnessapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      
      <% if logged_in? %>
        <%= link_to "My Workouts", my_workouts_path %>
        <%= link_to "Logout",  logout_path %>
      <% else %>
      <p>Sign up or Login<p>
        <%= link_to "Login",  login_path %>
        <%= link_to "Sign up", new_user_path %>
      <% end %>
      
    </nav>

    <%# <% if flash[:errors] %>
      <%# <p><%= pluralize(flash[:errors].count, "error")%> %>
      <%# <p><%= flash[:errors] %></p> %>
    <%# <% end %> %> %>
    
    <%= yield %>
  </body>
</html>
